.card {
    position: relative;
    width: 35rem;
    height: 35rem;

    overflow: hidden;

    background-color: var(--spaceport-card-bg);
    border: 1px solid var(--spaceport-card-stroke);

    border-radius: 1.7rem;

    @include response($spaceportBp) {
        width: 100%;
    }
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 15rem;

    padding: 1rem;

    border-radius: 0 0 1.7rem 1.7rem;

    background-color: rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px)
}
.top {}

.name {
    font-size: 2.4rem;
    line-height: 1;
    text-align: center;
}

.level {
    text-align: center;
    margin-top: 0.5rem;

    font-size: 2rem;
    font-weight: 500;

    line-height: 1;
    color: var(--spaceport-card-level);
}


.photo {
    
    overflow: hidden;

    height: 23rem;

    pointer-events: none;
    user-select: none;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.type {
    position: absolute;
    top: 1.6rem;
    left: 1rem;

    font-size: 1.2rem !important;
}

.bottom {
    margin-top: 0.7rem;

    overflow: hidden;
}

.stats {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    margin-top: 1rem;
}

.stat {

    &__icon {
        width: 3.5rem;
        height: 3.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        // background: rgb(217, 217, 217);
        // background: linear-gradient(150deg, rgba(217, 217, 217, 0.07) 30%, rgba(115, 115, 115, 0) 70%);

        border-radius: 1rem;

        overflow: hidden;
        
        user-select: none;
        pointer-events: none;

        border: 1px solid var(--spaceport-stat-stroke);
    
        img {
            user-select: none;
            pointer-events: none;
        }
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 500;
        font-family: "Rubik", sans-serif;
        margin-top: 0.8rem;
        text-align: center;
    }
}

.button {
    max-width: 21.2rem;
    margin: 0 auto;
}