.cards {
    margin-top: 3rem;
}

.slide {
    width: fit-content;

    @include response($spaceportBp) {
        width: 100%;
        padding: 0 0.7rem;
    }
}

.button {
    &__wrapper {
        margin-top: 2.2rem;
    }
}