.main-layout {
    height: 100vh;

    padding-top: 1rem;
    padding-bottom: 7.6rem;
    
    background-image: url(../../assets/images/mainLayout/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
}