.main-layout {
    height: 100dvh;

    padding-bottom: 7.6rem;
    
    background-image: url(../../assets/images/mainLayout/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // touch-action: none;

    &.ios {
        padding-bottom: 9.6rem;
    }
}

.overflow {
    height: 100%;
    overflow: auto;
}