.avatar {
    position: relative;

    width: 10.2rem;
    height: 11.6rem;

    clip-path: polygon(50% 1%, 99% 25%, 99% 75%, 50% 99%, 1% 75%, 1% 25%);

    overflow: hidden;

    &-border {

        position: relative;

        z-index: 5;

        &::before {

            content: "";

            position: absolute;
            top: 0;
            left: 0;

            width: 10.2rem;
            height: 11.6rem;

            background-image: url(@/assets/images/profile/avatar-frame.svg);
            background-position: center;

            z-index: 10;
        }

        &::after {

            content: "";

            position: absolute;
            top: -4.6rem;
            left: -5.3rem;

            width: 20.9rem;
            height: 20.9rem;

            background-image: url(@/assets/images/profile/looper.svg);

            pointer-events: none;

            z-index: -1;
        }

    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.username {
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.2;
    text-transform: lowercase;
}

.stats {
    margin-top: 1.3rem;

    display: grid;
    grid-template-areas:
        "block1 block2"
        "block3 block2"
        "block4 block4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1.6rem;
    row-gap: 1.3rem;
}

.block {
    position: relative;

    overflow: hidden;

    background-color: var(--stat-block-bg);
    backdrop-filter: blur(8px);
    border-radius: 15px;

    // &:nth-child(1) {
    //     grid-area: block1;
    // }

    // &:nth-child(2) {
    //     grid-area: block3;
    // }

    // &:nth-child(3) {
    //     grid-area: block2;
    // }

    // &:nth-child(4) {
    //     grid-area: block4;
    // }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(48, 37, 77, 1);
        background: linear-gradient(60deg, rgba(48, 37, 77, 1) 0%, rgba(48, 37, 77, 0) 35%, rgba(48, 37, 77, 0) 58%, rgba(48, 37, 77, 1) 100%);
        border-radius: inherit;
        padding: 0.1rem;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 1rem;

        height: 100%;

        z-index: 10;
    }

    &__text {
        
        margin: auto;
        width: 100%;

        &-center {
            text-align: center;
        }
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--stat-block-title);
    }

    &__subtitle {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1;
        color: var(--white);
        margin-top: 0.5rem;
    }

    &__points {
        font-weight: 500;
        color: var(--stat-block-score);
        margin-top: 1rem;

        &::after {
            content: "";
            display: inline-block;
            width: 1.3rem;
            height: 1.7rem;

            background-image: url(@/assets/images/gem-small.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            transform: translateY(0.2rem);

            margin-left: 0.6rem;
        }
    }

    &__photo {
        margin: -0.9rem;
        margin-bottom: 0.6rem;

        img {
            width: 100%;
            height: 100%;
            min-height: 12.2rem;

            object-fit: cover;
        }
    }

    &__centred {
        text-align: center;
    }

    &__list {

        margin-top: 1rem;
        
        &-item {
            display: flex;
            justify-content: space-between;

            margin-top: 1rem;
        }

        & > &-item:first-child {
            margin-top: 0;
        }

    }
}

.ship {
    &__name {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--stat-block-ship-name);
    }

    &__status {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--stat-block-ship-status);
    }
}