.card {
    width: 11.2rem;
    text-align: center;

    background-color: var(--reward-cart-stroke);
    border: 1px solid var(--reward-cart-stroke);
    border-radius: 1.6rem;
    overflow: hidden;

    &.claimed {
        background-color: var(--reward-cart-stroke-earned);
        border: 1px solid var(--reward-cart-stroke-earned);
    }
}

.content {
    background-image: url(@/assets/images/rewards/item-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #131315;
    border-radius: 1.6rem 1.6rem 0 0;

    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.points {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
}

.label {
    color: rgba(var(--white-rgb), 0.4);
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 2;
}

.currency {
    user-select: none;
    pointer-events: none;
    height: 5.4rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.day {
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
}