.overlay {
    display: flex;

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;

    background-color: transparent;
    visibility: hidden;

    width: 100%;
    height: 100svh;

    z-index: 100;

    transition-property: background-color, visibility;
    transition-duration: 200ms;
    transition-timing-function: ease;

    &.active {
        background-color: var(--overlay);
        visibility: visible;

        & > .dialog {
            transform: translateY(0);
        }
    }
}

.dialog {
    max-width: 52rem;
    width: 100%;
    background-color: var(--reward-bg);
    margin: auto auto 0 auto;
    padding: 3.3rem 0;

    background-image: url(@/assets/images/rewards/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    border-radius: 2rem 2rem 0 0;

    transform: translateY(100%);

    transition: transform .2s ease;
}

.claim {

    text-transform: uppercase;

    &__wrapper {
        max-width: 37rem;
        width: 100%;
        padding: 0 1rem;
        
        margin: 0 auto;
        margin-top: 2.7rem;
    }
}