.spaceships {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.6rem;
        row-gap: 0.8rem;

        margin-top: 1rem;
    }
}

.dropzone__block {
    position: relative;
}

.dropzone__block-close {
    position: absolute;
    top: -0.5rem;
    right: -0.2rem;

    width: 2rem;
    height: 2rem;

    cursor: pointer;

    z-index: 5;
}