.top {
    text-align: center;
}

.title {
    font-weight: 500;
    font-size: 3.2rem;
    text-transform: uppercase;
    line-height: 1;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 1rem;
    color: rgba(var(--white-rgb), 0.4);
}