@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --app-width: 520px;
    }
}

:root {
    --bg: #0d0712;
    --start-bg: #000000;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;

    --text-sec: #a1a0a0;

    --btn: #7440a9;
    --btn-disabled: #40235e;

    --active-link: #b364d8;

    --nav-bg: #0d0813;
    --nav-border: rgba(255, 255, 255, 0.1);

    --gray: #979797;

    --stat-block-bg: rgba(13, 7, 18, 0.2);
    --stat-block-title: #c4b1d8;
    --stat-block-score: #b255ff;
    --stat-block-ship-name: #b255ff;
    --stat-block-ship-status: #c4b1d8;

    --spaceport-card-bg: #151517;
    --spaceport-card-stroke: #a17ff1;
    --spaceport-card-level: #b364d8;
    --spaceport-stat-stroke: #30303e;
    --spaceport-stat-button-bg: #2a282d;
    --spaceport-stat-button-color: #b255ff;
    --spaceport-stat-button-color-upgraded: #83d987;
    --spaceport-pagination-inactive: #39393a;
    --spaceport-pagination-active: #b364d8;

    --ship-type-color-common: #1fdbfa;
    --ship-type-color-epic: #b255ff;
    --ship-type-color-rare: #b8860b;
    --ship-type-color-legendary: #daa520;
    --ship-type-color-premium: #d1b104;

    --overlay: rgba(15, 9, 22, 0.76);

    --reward-bg: #151517;
    --reward-cart-stroke: #30303e;
    --reward-cart-stroke-earned: #b255ff;

    --quest-item-icon-stroke: #543c6b;
    --quest-item-bg: #3e225a;
    --quest-item-stroke: #a17ff1;

    --mission-card-stroke: #a17ff1;
    --mission-card-bg: #3e225a;

    --chose-spaceship-name-bg: rgba(13, 7, 18, 0.2);
    --chose-spaceship-block-bg: rgba(13, 7, 18, 0.2);
    --chose-spaceship-coming-soon: #908e92;
    --chose-spaceship-block-empty-over-bg: rgba(178, 85, 255, 0.2);

    --ticket-bg: #20132e;
    --ticket-top: #7a6392;
    --ticket-primary: #e6e5e6;
    --ticket-secondary: #c4b1d8;
    --ticket-divider: #655495;
    --ticket-line-bg: #d3c1e6;
    --ticket-line-stroke: #9883ae;

    --upgrade-ship-progress: #30303e;
    --upgrade-ship-progress-bar: #b255ff;

    --counter-border: #a17ff1;
    --counter-bg: #3e225a;

    --refferal-friend-border: #515151;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
}

#root {
    overflow-y: auto;
}

html {
    position: fixed;
    height: auto !important;
    // font-size: 62.5%;
}

body {
    // font-family: 'Space Grotesk', sans-serif;

    margin: 0;
    padding: 0;

    color: var(--white);
    background-color: var(--bg);

    &.modal-opened {
        overflow: hidden;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

.spaceport-pagintaion {
    --swiper-pagination-bullet-width: 6px;
    --swiper-pagination-bullet-height: 6px;
    --swiper-pagination-bullet-border-radius: 3px;
    --swiper-pagination-color: inherit;
    --swiper-pagination-bullet-inactive-color: inherit;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 3px;

    .swiper-pagination-bullet {
        @apply bg-gray-700 transition-all duration-300;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        --swiper-pagination-bullet-width: 35px;
        @apply bg-accent-500;
    }
}
