.dropzone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.8rem;
    row-gap: 0.8rem;
    min-height: 11.5rem;

    margin-top: 1.3rem;

    &.over {
        &>.empty.first {
            background-color: var(--chose-spaceship-block-empty-over-bg);
        }
    }
}

.empty {
    position: relative;

    overflow: hidden;

    background-color: var(--chose-spaceship-block-bg);
    backdrop-filter: blur(8px);
    border-radius: 15px;

    height: $choseShipsBlockHeight;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(48, 37, 77, 1);
        background: linear-gradient(60deg, rgba(48, 37, 77, 1) 0%, rgba(48, 37, 77, 0) 35%, rgba(48, 37, 77, 0) 58%, rgba(48, 37, 77, 1) 100%);
        border-radius: inherit;
        padding: 0.1rem;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: 1;
    }
}

.comingsoon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.9rem;
    text-align: center;

    user-select: none;
    pointer-events: none;
    touch-action: none;

    color: var(--chose-spaceship-coming-soon);

    &__photo {
        margin-bottom: 1.2rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    &__title {
        font-size: 1.2rem;
        line-height: 1;
    }

    &__subtitle {
        font-size: 1rem;
        line-height: 1.2;
        margin-top: 0.2rem;
    }
}